.fondo {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #8886;
    top: 0;
    z-index: 1;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: #949f83;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    margin: 100px auto;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0px 5px 2px 5px;
    background-color: #b6cfa78f;
    color: #545454;
    border: none;
    border-radius: 50%;
    font-size: 12px;
}

