.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .cards{
        flex-direction: row;
        align-self: center;
    }
}