
.fondo{
    height: 100%;
    width: 100%;
    background-color: #36435aae;
}

.openFilter{
    width: fit-content;
    border: solid #9996 1px;
    border-radius: 5px;
    background-color: #eee;
    margin:  8px 0 8px 14px;
    padding: 0 4px;
}

.showSelectedTemps{
    margin: auto;
    width: 80%;
    height: 100px;
    background-color: #687752;
    border-radius: 3px;
}

.showTemps {
    list-style: none;
    background-color: #9fb979;
    font-size: 12px;
    width: fit-content;
    padding: 2px 8px;
    margin: 5px;
}

.openFilter:hover{
    cursor: pointer;
}

.aviso {
    margin-top: 11px;
}

.Xbutton{
    position: absolute;
    right: 4px;
    top: 4px;
    width: fit-content;
    padding: 0px 4px;
    border: none;
    border: #657a8aad solid 1px;
    border-radius: 45%;
    background-color: #7b93bc;
}

.tempsContainer{
    background-color: #435676;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    height: 300px;
    width: 350px;
    margin: 0 50%;
}

.selectedTemps{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 10px;
    border-radius: 3px;
    background-color: #637696;
    margin: 6px 17px 10px 17px;
    padding: 3px 12px;
}

.h1{
    font-size: medium;
    margin: 20px;
}


.ul{
    display: flex;
    flex-wrap: wrap;
    margin: 7px 5px;
    margin-bottom: 0;
    height: 48px;
    overflow: auto;
}

.ul::-webkit-scrollbar{
    width: 0;
}

.selectedTemp{
    background-color: #435676b0;
    border-radius: 5px;
    padding: 1px 0 2px 4px;
    height: fit-content;
    width: fit-content;
    list-style: none;
    font-size: smaller;
    margin: 2px 5px;
}

.deleteTemp{
    width: fit-content;
    font-size: 10px;
    padding: 0px 3px;
    margin: 2px;
    border: none;
    border: #4c6597ad solid 1px;
    border-radius: 45%;
    background-color: #7b93bc;
}

.filtrar{
    border: none;
    border-radius: 3px;
    padding: 0px 4px;
    background-color: #bdd2f7c2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tempFilter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 17px 7.5px 17px;
    padding: 3px 12px;
    overflow-y: auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 10px;
    background-color: #637696;
}

.tempFilter::-webkit-scrollbar{
    width: 0;
}

.subtitulo{
    width: fit-content;
    border: #374968 solid 2px;
    background-color: #465f89ad;
    padding: 2px 4%;
    border-radius: 3px;
    font-size: 12px;
    margin: auto;
    margin-top: 4px;
}

.normalTemp{
    margin: 2px;
    padding: 0 4px;
    border-radius: 5px;
}
