.div {
    flex-grow: 1;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.259) 0px 1px 4px;
    overflow: hidden;
    border-radius: 3px;
}


@media screen and (min-width: 329px){
    .div{
        width: 75vw;
        height: 50vh;
        margin-top: 20px;
    }
}

@media screen and (min-width: 700px){
    .div{
        width: 5vw;
        margin: 20px 7.5px 20px 10px;
        height: 70vh;
    }
}

.message{
    font-size: 20px;
    margin-top: 10px;
}
