
.div {
    display: flex;
    flex-direction: column;
    background-color: #ffdfb09f;
    width: 200px;
    height: 280px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.375) 0px 1px 4px;
    border-radius: 3px;
}

.img{
    object-fit: cover;
    height: 50%;
    border-radius: 3px 3px 0 0;
}

.nombre {
    font-size: 17px;
    width: fit-content;
    margin: 3px auto;
}

.tempList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 95%;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.tempList::-webkit-scrollbar{
    width: 8px;
    background-color: #f5ac3fd8;
    border-radius: 5px;
}

.tempList::-webkit-scrollbar-thumb{
    background-color: #f4c988;
    border-radius: 5px;
}

.temp {
    background-color: #96b57c9d;
    padding: 0 8px;
    margin: 2px;
    border-radius: 4px;
}

.peso {
    font-size: 13px;
    margin: 0 0 2px 5px ;
    text-align: start;
}