.div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.h1{
    font-size: 30px;
    color: #ffeedb;
    letter-spacing: 2px;
    margin: 15px; 
}

.section{
    width: 100%;
}

.searchBar{
    width: 50%;
    font-size: 16px;
    background-color: #f4ffed8f;
    border: solid #2228 1px;
    border-radius: 2px;
    outline: none;
}

.placeholder{
    position: absolute;
    color: #4158349f;
    
}

@media screen and (min-width: 700px) {
    .div{
        width: 583px;
    }
}

.clearInput {
    position: absolute;
    background-color: #9eb3918f;
    color: #545454;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    margin: 4.8px -19px;
    padding: 0px 5px 2px 5px;
}

.button{
    background-color: #70935753;
    border: solid #2228 1px;
    margin: 5px 0 35px 0;
}

.h3{
    color: #b53630;
    padding: 3px;
    margin: 0;
    text-align: start;
    list-style: none;
    font-size: 16px;
}

/* .modalOn{
    display: block;
}

.modalOff{
    display: none;
} */