.div{
    display: flex;
    width: 85%;
    justify-content: center;
}

.searchBar{
    width: 50%;
    background-color: #86b53059;
    border: solid #2228 1px;
    border-radius: 2px;
    margin: 40px 0;
}

@media screen and (min-width: 700px) {
    .div{
        width: 583px;
    }
}

.clearInput {
    position: absolute;
    color: #545454;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    margin: 1.5px 150px;
    padding: 1px 5px;
}

.button{
    background-color: #55771680;
    border: solid #2228 1px;
    margin: 40px 0;
}

.h1{
    position: absolute;
    color: #b53630;
    padding: 3px;
    margin-top: 18px;
    text-align: start;
    list-style: none;
    font-size: 16px;
}