.div{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
}

.section{
    width: 100%;
}

.searchBar{
    width: 50%;
    background-color: #f4ffed8f;
    border: solid #2228 1px;
    border-radius: 2px;
}

@media screen and (min-width: 700px) {
    .div{
        width: 583px;
    }
}

.clearInput {
    position: absolute;
    background-color: #9eb3918f;
    color: #545454;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    margin: 6px -19px;
    padding: 0px 5px 2px 5px;
}

.button{
    background-color: #70935753;
    border: solid #2228 1px;
    margin: 5px 0 35px 0;
}

.h1{
    position: absolute;
    color: #b53630;
    padding: 3px;
    margin-top: 18px;
    text-align: start;
    list-style: none;
    font-size: 16px;
}

/* .modalOn{
    display: block;
}

.modalOff{
    display: none;
} */