.div{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: auto;
    min-width: 260px;
    height: 75vh;
    margin: 20px 10px 20px 7.5px;
}

.cardDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
    overflow: auto;
}


@media screen and (min-width: 329px){
    .div{
        width: 75vw;
        height: 50vh;
    }
}

@media screen and (min-width: 700px){
    .div{
        width: 5vw;
        margin: 20px 7.5px 20px 10px;
        height: 75vh;
    }
}