.div{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: 260px;
    height: 75vh;
    margin-top: 10px;
    background-color: #f0d1a5;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cardDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
    overflow: auto;
}

.cardDiv::-webkit-scrollbar{
    width: 9px;
    background-color: #f5ac3fd8;
    border-radius: 5px;
}

.cardDiv::-webkit-scrollbar-thumb{
    background-color: #f4c988;
    border-radius: 5px;
}

@media screen and (min-width: 329px){
    .div{
        width: 75vw;
        height: 50vh;
    }
}

@media screen and (min-width: 700px){
    .div{
        width: 5vw;
        margin: 20px 7.5px 20px 10px;
        height: 72.2vh;
    }
}